.App {
  text-align: center;
  height: 100vh;
  
  /* grid container settings */
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header'
    'main'
    'footer';
}

.App-header {
  grid-area: header;
  border-bottom: 1px solid black;
}

.App-header-content {
  margin: auto;
  width: 940px;
}

.header-title {
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 31.5px;
  font-weight: bold;
  color: black;
}

.header-lang-select {
  float: right;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 25px;
  font-size: 16px;
}

.App-main {
  grid-area: main;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  
  width: 960px;
  color: black;
}

.App-footer {
  grid-area: footer;
  height: 2.5rem;
  font-size: 16px;
  color: black;
}

.collapsible-header {
  position: relative;
  color: black;
  cursor: pointer;
  width: 100%;
}

.collapsible-title {
  pointer-events: none;
  font-size: 66px;
  text-align: left;
  font-weight: bold;
}

.collapsible-divider-1 {
  pointer-events: none;
  position: absolute;
  height: 2px;
  width: 33%;
  top: 50%;
  left: 15%;
  background-color:#b4b4b4;
}

.collapsible-divider-2 {
  pointer-events: none;
  position: absolute;
  height: 2px;
  width: 45%;
  top: 50%;
  right: 0%;
  background-color:#b4b4b4;
}

.collapsible-img-div {
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 40%;
}

.collapsible-image {
  pointer-events: none;
  position: relative;
  float: left;
  margin-top: 10%;
  font-size: 16px;
  color:#b4b4b4;
}

.collapsible-number {
  pointer-events: none;
  position: relative;
  float: left;
  margin-left: 10px;
  font-size: 16px;
  color: #b4b4b4;
}

.collapsible-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.card {
  overflow: hidden;
  float: left;
  margin: 10px;
  width: 140px;
  height: 140px;
  border: 1px solid black;
}

.painting-image {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.modal-backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.mymodal{
  position: absolute;
  margin: auto;
  padding: 0;
  width: 940px;
  left: 50%;
  top: 50%;
  border: 3px solid #b4b4b4;
  transform: translate(-50%, -50%);
}

.modal-content{
  display: grid;
  height: 460px;
  grid-template-columns: 1fr 1fr;
  background-color: #222222;
  color: white;
}

.modal-image {
  object-fit: contain;
  max-height: 460px;
  margin: auto;
  background-color: black;
}

.modal-info {
  padding: 10px;
  max-height: 460px;
  text-align: left;;
}

.modal-info-title {
  font-size: 25px;
  font-weight: bold;
}

.modal-info-descr {
  max-height: 50%;
  overflow: auto;
  text-overflow: ellipsis;
  font-size: 18px;
  padding-right: 10px;
}

.modal-info-repo {
  position: absolute;
  bottom: 120px;
}

.modal-info-owner {
  position: absolute;
  bottom: 100px;
}

.modal-info-dim {
  position: absolute;
  bottom: 60px;
}

.modal-info-button {
  background-color:  #b4b4b4;
  position: absolute;
  top: -10px;
  right: -10px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border-radius: 50%;
  border: none;
}

.modal-info-next {
  background-color: transparent;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: none;
}

.modal-info-prev {
  background-color: transparent;
  position: absolute;
  bottom: 20px;
  right: 80px;
  border: none;
}

.modal-info-arrows {
  color: white;
  width: 25px;
  height: 25px;
}