.App {
  text-align: center;
  /* grid container settings */
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header'
    'main'
    'footer';
}

.App-header {
  grid-area: header;
  background-color: white;
  border-bottom: 1px solid black;
}

.App-header-content {
  margin: auto;
  width: 940px;
}

.header-title {
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 31.5px;
  font-weight: bold;
}

.header-input {
  float:left;
  margin-top: 30px;
  margin-left: 80px;
  height: 25px;
  font-size: 16px;
}

.header-lang-select {
  float: right;
  margin-top: 30px;
  height: 25px;
  font-size: 16px;
}

.App-main {
  grid-area: main;
  display: grid;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;;
}

@media only screen and (max-width: 940px) {

  .App-header{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    grid-area: footer;
    border-bottom: none;
  }

  .App-header-content{
    width:100%;
  }

  .header-title {
    margin: 10px;
    margin-left: 20px;
  }
  
  .header-input {
    margin: auto;
    margin-top: 15px;
  }
  
  .header-lang-select {
    float: right;
    margin-top: 15px;
    margin-left: 1%;
    margin-right: 20px;
  }
  

  .App-footer{
    display: none;
  }

}